.taskcreate-button {
    width: 200px;
    height: 60px;
    border-style: solid;
    color:black;
    background-color:lightskyblue;
    border-radius: 10px;
    border-width: 1px;
    font-size: 20px;
    transition-duration: 0.4s;  
    font-family: "Beatles", sans-serif;
    word-spacing: 10px;
    margin-top: 100px;
    

}

.task-delete-edit {
    width: 100px;
    height: 35px;
    border-style: solid;
    color:black;
    background-color:lightskyblue;
    border-radius: 10px;
    border-width: 1px;
    font-size: 15px;
    transition-duration: 0.4s;  
    margin-right: 20px;
    font-family: "Beatles", sans-serif;
    word-spacing: 10px;
   

}

.task-posts {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
    
}

.taskbutton {
display: flex;
justify-content: center;

    
    
}

.task {
    font-family: "Beatles", sans-serif;
    word-spacing: 10px;
    
   

}

input[type=checkbox] {
    transform: scale(2.5);
}

.checkbox {
    margin-left: 100px;
}

.form-group {
    font-family: "Beatles", sans-serif;
    word-spacing: 10px;
  
}

.taskform-fieldset {
    

    
    padding:15px 400px;
    line-height:140%;
    
}

input[type="text"] {
    
    display: inline-block;
    padding: 50px 10px; line-height: 28px;
    
}

input {
    padding-top: 0;
    padding-left: 0;
    line-height: 1em;
 }


#completionDate {
    /* color: lightskyblue; */
    
}

.task-name-field {
    /* color: lightskyblue; */
}


.save-button-task {

    width: 150px;
    height: 60px;
    border-style: solid;
    color: black;
    background-color:lightskyblue;
    border-radius: 10px;
    border-width: 1px;
    font-size: 20px;
    transition-duration: 0.4s;  
    font-family: "Beatles", sans-serif;
    word-spacing: 10px;
    

}

.save-button-task-move {
    display: flex;
    justify-content: center;
}

.checkLabel {
    padding-left: 20px;
}

.taskForm__title {
    margin-top: 20px;
    font-family: "Beatles", sans-serif;
    word-spacing: 10px;
    display: flex;
    justify-content: center;
}

.formgrid {
    font-family: "Beatles", sans-serif;
    word-spacing: 10px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 500px;
    
}
.edit-form-container {
    display: flex;
    justify-content: center;
}

.task-update-button {
    width: 100px;
    height: 50px;
    border-style: solid;
    color: black;
    background-color:lightskyblue;
    border-radius: 10px;
    border-width: 1px;
    font-size: 17px;
    transition-duration: 0.4s;  
    font-family: "Beatles", sans-serif;
    word-spacing: 10px;
    margin-top: 20px;
}