.taskcreate-button {
    width: 200px;
    height: 60px;
    border-style: solid;
    color: black;
    background-color:lightskyblue;
    border-radius: 10px;
    border-width: 1px;
    font-size: 20px;
    transition-duration: 0.4s;  
    font-family: "Beatles", sans-serif;
    word-spacing: 10px;
    margin-top: 100px;

}

.task-delete-edit {
    width: 100px;
    height: 35px;
    border-style: solid;
    color: black;
    background-color:lightskyblue;
    border-radius: 10px;
    border-width: 1px;
    font-size: 15px;
    transition-duration: 0.4s;  
    margin-right: 20px;
    font-family: "Beatles", sans-serif;
    word-spacing: 10px;
    margin-top: 20px;

}

.task-posts {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.taskbutton {
margin-left: 130px;
    
    
}

.task {
    font-family: "Beatles", sans-serif;
    word-spacing: 10px;
    
   

}

.checkbox {
    margin-left: 100px;
}

.form-group {
    font-family: "Beatles", sans-serif;
    word-spacing: 10px;
    
}

.taskform-fieldset {
    
    /* width: 500px; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    display: block;
  /* width: 100%; */
  overflow: hidden;
  resize: both;
  min-height: 40px;
  line-height: 20px;
    
    
}
#completionDate {
    color: lightskyblue;
    
}

.task-name-field {
    color: lightskyblue;
}


.save-button-task {

    width: 150px;
    height: 60px;
    border-style: solid;
    color: black;
    background-color:lightskyblue;
    border-radius: 10px;
    border-width: 1px;
    font-size: 15px;
    transition-duration: 0.4s;  
    font-family: "Beatles", sans-serif;
    word-spacing: 10px;
    margin-top: 100px;

}

.checkLabel {
    padding-left: 10px;
}