.main-content{
    font-family: "Beatles", sans-serif;
    word-spacing: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .articleForm {
    font-family: "Beatles", sans-serif;
    word-spacing: 10px;
    
    
    
  }

 

  h1 {
      text-align: center;
      
  }

  .article {
    margin-left: 20px;
    
  }

  .art-button-move {
      display: flex;
      justify-content: center;
  }

  
  

  .articleButton {
    margin-bottom: 60px;
    word-spacing: 4px;
    width: 200px;
    height: 50px;
    border-style: solid;
    color: black;
    background-color:lightskyblue;
    /* border-color: white; */
    border-radius: 10px;
    border-width: 1px;
    font-size: 20px;
    transition-duration: 0.4s;  
    
    font-family: "Beatles", sans-serif;
    word-spacing: 10px;
    margin-top: 20px;
    
  }


.article-delete-edit {
    width: 100px;
    height: 35px;
    border-style: solid;
    color: black;
    background-color:lightskyblue;
    /* border-color: white; */
    border-radius: 10px;
    border-width: 1px;
    font-size: 15px;
    transition-duration: 0.4s;  
    margin-right: 20px;
    font-family: "Beatles", sans-serif;
    word-spacing: 10px;
    margin-top: 20px;


}
.art-edit-fieldset-1 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  
}

.art-edit-fieldset {
  display: flex;
  justify-content: center;

  
}
.art-titles {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.art-title-form-top {
  display: flex;
  justify-content: center;
  margin-top: 50px;

}
.art-buttons-containter {
display: flex;
justify-content: center;
}
.art-edit-fieldset-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.art-cancel-update-button {
  width: 150px;
    height: 60px;
    border-style: solid;
    color: black;
    background-color:lightskyblue;
    border-radius: 10px;
    border-width: 1px;
    font-size: 20px;
    transition-duration: 0.4s;  
    font-family: "Beatles", sans-serif;
    word-spacing: 10px;
    
}
.art-edit-update-button {
  width: 150px;
    height: 60px;
    border-style: solid;
    color: black;
    background-color:lightskyblue;
    border-radius: 10px;
    border-width: 1px;
    font-size: 20px;
    transition-duration: 0.4s;  
    font-family: "Beatles", sans-serif;
    word-spacing: 10px;
}

.art-cancel-button {
  width: 150px;
    height: 60px;
    border-style: solid;
    color: black;
    background-color:lightskyblue;
    border-radius: 10px;
    border-width: 1px;
    font-size: 20px;
    transition-duration: 0.4s;  
    font-family: "Beatles", sans-serif;
    word-spacing: 10px;
}

.art-save-button {

  width: 150px;
    height: 60px;
    border-style: solid;
    color: black;
    background-color:lightskyblue;
    border-radius: 10px;
    border-width: 1px;
    font-size: 20px;
    transition-duration: 0.4s;  
    font-family: "Beatles", sans-serif;
    word-spacing: 10px;
}



.art-title-form {
  display: flex;
  justify-content: center;
}



article {

margin-left: 20px;
}

.weatherCard {

  display: flex;
  font-size: small;
  
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 160px;
  flex-direction: row;
  justify-content: flex-end;
  
  /* background-color: lightskyblue;
  max-width: fit-content;
  border-radius: 20px;
  border-style: groove; */
}
span {
  padding: 20px;
}
p {
  padding: 20px;
}
h4 {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: xx-small;
}
