.main-content{
    font-family: "Beatles", sans-serif;
    word-spacing: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .articleForm {
    font-family: "Beatles", sans-serif;
    word-spacing: 10px;
  }

  h1 {
      text-align: center;
  }

  .articleButton {
      margin-bottom: 10px;
      word-spacing: 4px;
  }

  h3.articleTitle {
    margin-top: 10px;
}
