strong {
  font-weight: bold;
}

html {
 margin: 0

}

label {
  margin-right: 10px;
}

input {
  margin-bottom: 10px;
  word-spacing: 3px;
  
}

button {
  margin-right: 10px;

}

button:hover {
  background-color:lightsteelblue;
  transition-duration: 0.25s;
}

h1 {

  font-family: "Beatles", sans-serif;
    word-spacing: 10px;
    margin-top: 10px;
}

