.dialog {
  min-width: 15rem;
  min-height: 5rem;
}

.container--login {
  font-family: "Beatles", sans-serif;
  word-spacing: 5px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
 
}

fieldset {
  width: 500px;
}

h2 {
  margin-left: 150px;
}

/* .link--register {
  display: flex;
  justify-content: center;
  
} */
h6 {
  display: flex;
  justify-content: center;

}
.register {
  display: flex;
  justify-content: center;
}

label {
  margin-left: 150px;
}

.sign-in-button {
  width: 200px;
  height: 40px;
  border-style: solid;
  color: black;
  background-color:lightskyblue;
  margin-bottom: 10px;
  
  border-width: 1px;
  font-size: 15px;
  transition-duration: 0.4s;  
  font-family: "Beatles", sans-serif;
  word-spacing: 10px;
  border-radius: 10px;
  border-width: 1px;
  margin-left: 150px;
}